@model List<Enrollment>
@{
    ViewData["Title"] = "Enrollment List";
}

<h2>Enrollment List</h2>

<a asp-action="Create" class="btn btn-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Student</th>
            <th>Course</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrollment in Model)
        {
            <tr>
                <td>@enrollment.EnrollmentId</td>
                <td>@enrollment.Student?.Name</td>
                <td>@enrollment.Course?.Title</td>
                <td>
                    <a asp-action="Edit" asp-route-studentId="@enrollment.StudentId" asp-route-courseId="@enrollment.CourseId" class="btn btn-info">Edit</a>

                    <a asp-action="Delete" asp-route-id="@enrollment.EnrollmentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
