@model IEnumerable<Student>
@{
    ViewData["Title"] = "Student List";
}

<h2>Student List</h2>

<a asp-action="Create" class="btn btn-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department</th>
            <th>Enrollments</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentId</td>
                <td>@item.Name</td>
                <td>@item.Department?.Name</td>
                <td>
                    @if (item.Enrollments != null)
                    {
                        <ul>
                            @foreach (var enr in item.Enrollments)
                            {
                                <li>
                                    @enr.Course?.Title
                                </li>
                            }
                        </ul>
                    }
                </td>
                <td>
                    @if (item.ImageUrls.Count>0)
                    {
                        @foreach (var imageUrl in item.ImageUrls.Take(3))
                        {
                            <img class="img-thumbnail" src="@imageUrl.ImgUrl" alt="@item.Name" style="width: 60px;" onclick="displayImage('@imageUrl.ImgUrl')" />
                        }
                        <a asp-action="EditUploadImg" asp-route-id="@item.StudentId" class="btn btn-outline-info">Edit</a>
                    }
                    else
                    {
                        <a asp-action="UploadImg" asp-route-id="@item.StudentId" class="btn btn-outline-info">Upload Imgs</a>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="" class="img-responsive" width="465px">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function displayImage(imageUrl) {
            $("#modalImage").attr("src", imageUrl);
            $("#imageModal").modal("show");
        }
    </script>
}