@model List<Course>
@{
    ViewData["Title"] = "Course List";
}

<h2>Course List</h2>

<a asp-action="Create" class="btn btn-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseId</td>
                <td>@course.Title</td>
                @* <td>
                    <ul>
                        @foreach (var enrollment in course.Enrollments)
                        {
                            <li>@enrollment.Student?.Name</li>
                        }
                    </ul>
                </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@course.CourseId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@course.CourseId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
